.about-main{
    background-color: var(--dark-background);
}
.about-content{
    display: flex;
    flex-direction: row;
    gap: 79px;
}
.right-content img{
    width: 100%;
    border-radius: 10px;
}